
.topnav{
   margin-bottom: 0px!important;
}

body{
   background-image: url('../img/background_img.jpg');      
   width: 100%;
   height: 100%;   
}

/*LOGIN WINDOW*/  

.panel-login {
   /*THIS CONTROLS POSITION OF THE WINDOW ON THE SCREEN*/
   transform: translate(0%, 20%);
   border-color: #ccc;
   -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
   -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
   box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.panel-login > .panel-heading {
   color: #00415d;
   background-color: #fff;
   border-color: #fff;
   text-align: center;
}

.panel-login > .panel-heading a {
   text-decoration: none;
   color: #666;
   font-weight: bold;
   font-size: 15px;
   -webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
   color: #029f5b;
   font-size: 18px;
}

.btn-login {
   background-color: #59B2E0;
   outline: none;
   color: #fff;
   font-size: 14px;
   height: auto;
   font-weight: normal;
   padding: 14px 0;
   text-transform: uppercase;
   border-color: #59B2E6;
}

.btn-register {
   background-color: #1CB94E;
   outline: none;
   color: #fff;
   font-size: 14px;
   height: auto;
   font-weight: normal;
   padding: 14px 0;
   text-transform: uppercase;
   border-color: #1CB94A;
}

.main-content{    
   text-align: center;     
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 0px 50px 0px;
}

.profile-form{
   margin-top: 30px;
}
.well{
   margin-bottom: 10px;
   padding-bottom: 0px;    
   margin-top: 0px; 
   padding-top: 0px;
}

/* Footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50px;
   text-align: center;
   color: white;  
}
.footer p{
   padding-top: 10px;
}
