<script type="text/javascript">

   //show registration box
   $(document).ready(function(){
      $("#registration").click(function(){
         $("#login-box").hide();      
         $("#login").removeClass("active")
         $("#registration").addClass("active")
         $("#registration-box").show();
      });
   });

   //show login box
   $(document).ready(function(){
      $("#login").click(function(){
         $("#login").addClass("active")
         $("#registration-box").hide();
         $("#registration").removeClass("active")      
         $("#login-box").show();
         
      });
   });

</script>

<div class="container">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <div class="panel panel-login">
            <div class="panel-heading">
               <div class="row">                        

                  <div class="col-xs-6">
                     <a id="login" class="active" href="#">Login</a>
                  </div>

                  <div class="col-xs-6">
                     <a id="registration" href="#">Registration</a>                     
                  </div>

               </div>          
            </div>

            <div class="panel-body" id="login-box">
               <div class="row">
                  <div class="col-lg-12">

                     <form method="post" action="/login">

                        <div class="form-group">
                           <label for="inputs">Email</label>
                           <input class="form-control input-sm" id="inputsm" type="text" name="user[email]">
                        </div>

                        <div class="form-group">
                           <label for="inputdefault">Password</label>
                           <input class="form-control" id="inputdefault" type="password" name="user[password]">
                        </div>                 

                        <div class="form-group">
                           <div class="row">
                              <div class="col-sm-6 col-sm-offset-3">
                                 <button type="submit" value="login" class="form-control btn btn-register"/>Submit</button>
                              </div>
                           </div>
                        </div>

                     </form>

                  </div>            
               </div>
            </div> <!-- End of Login Box -->
            
            <!-- Registration box -->
            <div class="panel-body" id="registration-box" style="display: none">
             <div class="row">
               <div class="col-lg-12">
                 <form method="post" action="/register">

                   <div class="form-group">
                     <label for="inputs">Full Name</label>
                     <input class="form-control input-sm" id="inputsm" type="text" name="user[name]">              
                  </div>

                  <div class="form-group">
                     <label for="inputdefault">Email</label>
                     <input class="form-control" id="inputdefault" type="text" name="user[email]">
                  </div>

                  <div class="form-group">
                     <label for="inputlg">Password</label>
                     <input class="form-control input-lg" id="inputlg" type="password" name="user[password]">
                  </div>

                  <div class="form-group">
                     <div class="row">
                       <div class="col-sm-6 col-sm-offset-3">
                         <button type="submit" value="register" class="form-control btn btn-register"/>Register</button>
                      </div>
                   </div>
                </div>

             </form>         
          </div>
       </div>
    </div>




 </div>
</div>
</div>
</div>


