
<div class="container main-content">

  <!-- Welcome title -->
  <div class="col col-md-12">
    <div class="row">    

      <div class="col-md-4 col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">      
          <div class="panel-body">
            <div class="comment-post">
              <h1>Welcome <%= @user.name %></h1>    
            </div>
          </div>
        </div>  
      </div>

    </div>
  </div>

  <!--Default User Picture -->
  <div class="col col-md-12" style="margin-bottom: 30px;">
    <div class="row">
      <img class="user-picture img-responsive center-block"  src="/img/user.png" alt="default user">
    </div>

    <div class="row">

      <div class="col-md-6 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default" style="margin-top: 2%;">      
          <div class="panel-body">
            <div class="comment-post">
              <h3> <%= @user.name %> has <%= Follower.where(:followed_user => @user.id).count%> followers and is following <%= Follower.where(:following_user => @user.id).count%> users. </h3>

              <%if @current_user.id != @user.id%>

              <form method="post" action="/follow/<%= @user.id %>">
                <button type="submit" class="btn btn-success btn-sm">
                  <h4> Follow </h4>
                </button>
              </form>  

              <%end%>

            </div>
          </div>
        </div>
      </div>     

      
    </div>   

  </div>

  <!-- Display User Tweets -->
  <div class="col col-md-12">    
    <% Tweet.all.each do |tw| %>
    <% if tw.user_id == @user.id %> 
    <div class="container" style="margin-top: 0px; padding-top: 0px;">
     <article class="row">

       <div class="col-md-8 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default arrow left">      
          <div class="panel-body">

            <div class="comment-post">
              <h3><%= tw.content %></h3>
            </div>

            <ul class="list-inline list-unstyled">

              <li><a href="/static/profile/<%= tw.user.id %>"><%= tw.user.name %></a></li>
              <li>|</li>

              <time class="comment-date"><i class="fa fa-clock-o"></i> <%= TimeDifference.between(Time.current, tw.updated_at).in_hours %>h ago</time>              

            </ul>

            <!-- Delete and Update your Tweets -->
            <% if tw.user_id == current_user.id %>    

            <form class="form-inline" method="post" class="col-sm-4" action="/delete_tweet/<%= tw.id %>">                

              <button type="submit" value='delete_tweet' class="form-control btn btn-warning"/>Delete Tweet</button>

              <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#<%= tw.id %>">Update Tweet</button>
            </form>    
            

            <div id="<%= tw.id %>" class="collapse">
              <form method="post" action="/update_tweet/<%= tw.id %>" style="margin-top: 10px;">                

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">        
                      <input class="form-control input-sm" id="inputsm" type="text" name="user[update_tweet]">                
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <button type="submit" value='update_tweet' class="form-control btn btn-default"/>Update </button>
                    </div>
                  </div>
                </div>

              </form>
              
            </div>


            <% end %>   

          </div>
        </div>
      </div>
    </article>
  </div>
  <% end %>
  <% end %>
</div>













