
<!-- Background picture -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">                        

            <div class="col-xs-6">
              <a href="login">Login</a>
            </div>

            <div class="col-xs-6">
              <a class="active" href="#">Registration</a>
            </div>

          </div>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form method="post" action="/register">

                <div class="form-group">
                  <label for="inputs">Full Name</label>
                  <input class="form-control input-sm" id="inputsm" type="text" name="user[name]">              
                </div>

                <div class="form-group">
                  <label for="inputdefault">Email</label>
                  <input class="form-control" id="inputdefault" type="text" name="user[email]">
                </div>

                <div class="form-group">
                  <label for="inputlg">Password</label>
                  <input class="form-control input-lg" id="inputlg" type="password" name="user[password]">
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <button type="submit" value="register" class="form-control btn btn-register"/>Register</button>
                    </div>
                  </div>
                </div>
                
              </form>         
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






