<script type="text/javascript">

  //add active class to current page
  $( document ).ready(function() {
    $("#tweets-page").addClass("active")
  });
  
</script>

<div class="container main-content">

  <form method="post" action="/tweets">

    <div class="col-md-4 col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">      
        <div class="panel-body">
          <div class="comment-post">
            <h1 class=""><label for="inputs">Tweet here</label></h1>
          </div>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <input class="form-control input-sm" id="inputsm" type="text" name="user[tweet]">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <button type="submit" value="tweet" class="form-control btn btn-success"/>Submit Tweet</button>
        </div>
      </div>
    </div>

  </form>

  <!-- Displpay Tweets -->  
  <% @tweets.each do |tw| %>
  <div class="container">
    <div class="well" style="margin-bottom: 10px; padding-bottom: 0px; margin-top: 0px; padding-top: 0px;">    
      <div class="media">        
        <div class="media-body">

          <h2><%= tw.content %></h2>           

          <ul class="list-inline list-unstyled">

            <a href="/static/profile/<%= tw.user.id %>"><%= tw.user.name %></a>

            <li>|</li>          

            <li><span><i class="glyphicon glyphicon-calendar"></i><%= tw.created_at%></span></li>

          </ul>

        </div>
      </div>

      <!-- Delete and Update your Tweets -->
      <% if tw.user_id == @current_user.id %>

      <form class="form-inline" method="post" class="col-sm-4" action="/delete_tweet/<%= tw.id %>" style = "margin-bottom: 10px;">                

        <button type="submit" value='delete_tweet' class="form-control btn btn-warning"/>Delete Tweet</button>

        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#<%= tw.id %>">Update Tweet</button>
      </form>    

      <!-- Bootstrap drop-down update tweet -->
      <div id="<%= tw.id %>" class="collapse">

        <form method="post" action="/update_tweet/<%= tw.id %>" style="margin-top: 10px;">       

          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">        
                <input class="form-control input-sm" id="inputsm" type="text" name="user[update_tweet]">                
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" value='update_tweet' class="form-control btn btn-default"/>Update </button>
              </div>
            </div>
          </div>

        </form>

      </div>

      <% end %>    
    </div>
  </div>

  <% end %> 

</div>


