<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">  

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  

  <!-- Font Awesome -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- Custom scripts/styling -->
  <link href="/css/application.css" rel="stylesheet" type="text/css">  

  

  <link rel="shortcut icon" href="/img/twitter-icon.png">   

  <title>Twitter - clone</title>
</head>

<body> 
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Tweeter</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">

        <% if current_user %>
        
        <ul class="nav navbar-nav">
          <li><a id="tweets-page" class="nav-link" href="/tweets"><span class="fa fa-twitter fa-lg"></span> Tweets</a></li> 
        </ul>        

        <ul class="nav navbar-nav navbar-right">

          <li><a href="/static/profile/<%= current_user.id %>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          
          <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>

        <% end %>

      </div>
    </div>
  </nav>
  

  <%= yield %>


  <script src="/js/application.js"></script>
</body>

<footer class="footer navbar-inverse">
  <div class="container">                  
    <div class="row justify-content-center" style="height: 50px;">                   
     <div class="col-auto">        
      <p>Copyright © 2018, Frantisek Friedl</p>
    </div>
  </div>
</div>
</footer>


</html>